<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossOne1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,134}</string>
                <key>spriteSourceSize</key>
                <string>{151,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{151,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOne2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,131}</string>
                <key>spriteSourceSize</key>
                <string>{151,131}</string>
                <key>textureRect</key>
                <string>{{0,134},{151,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOne3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,126}</string>
                <key>spriteSourceSize</key>
                <string>{151,126}</string>
                <key>textureRect</key>
                <string>{{0,265},{151,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossOne4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,124}</string>
                <key>spriteSourceSize</key>
                <string>{151,124}</string>
                <key>textureRect</key>
                <string>{{0,391},{151,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BossOne.png</string>
            <key>size</key>
            <string>{151,515}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:618ef7d488f8d34862ea11d758bf2560:b55c1a4f2e45005bbc5129ca0172461a:0d7c1633341e444dfe5c1118d2328404$</string>
            <key>textureFileName</key>
            <string>BossOne.png</string>
        </dict>
    </dict>
</plist>
