<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shiplaser1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiplaser2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{16,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiplaser3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{32,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shiplaser4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{48,0},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>laser.png</string>
            <key>size</key>
            <string>{64,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d61b244e64ea9c68025851f5f415ec8:54d6cf4f3612d530702b8b1a6c221b22:70bc5ecc2974f393155290b4a30d2595$</string>
            <key>textureFileName</key>
            <string>laser.png</string>
        </dict>
    </dict>
</plist>
