<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Missile3_Fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{708,50},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{177,0},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{354,0},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{531,0},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{708,0},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{0,50},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{177,50},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{354,50},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,50}</string>
                <key>spriteSourceSize</key>
                <string>{177,50}</string>
                <key>textureRect</key>
                <string>{{531,50},{177,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{0,100},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{270,100},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{540,100},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{0,370},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{270,370},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{540,370},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{0,640},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{270,640},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,270}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{540,640},{270,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Missile3.png</string>
            <key>size</key>
            <string>{885,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea0aae9b499102f71c34c7e9b63cfc92:d911a4b8fc5063e682ea11c0ad56122e:7a95c57a7b6212f4dfc9441016df69ef$</string>
            <key>textureFileName</key>
            <string>Missile3.png</string>
        </dict>
    </dict>
</plist>
