<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Missile3_Fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{120,100},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{240,0},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{360,0},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{0,50},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{120,50},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{240,50},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{360,50},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_Fly9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{0,100},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{240,100},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,300},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,300},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,500},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,500},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,700},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,700},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,900},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Missile3_No9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,900},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Missile.png</string>
            <key>size</key>
            <string>{480,1100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e08dd458afde258909326ee0698973f2:2be186b8b032f57c346900971c4a1ef5:e9356cf91b7946d194d92da080f5cbee$</string>
            <key>textureFileName</key>
            <string>Missile.png</string>
        </dict>
    </dict>
</plist>
