<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{0,0},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{536,0},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1072,0},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1608,0},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{2144,0},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{2680,0},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{3216,0},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{0,495},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{536,495},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,495}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1072,495},{536,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1608,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1840,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{2072,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{2304,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{2536,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{2768,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{3000,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{3232,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{3464,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{3696,495},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{3928,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bbe237d1dd53d5b944f7c2a6e526adb:01ad291772d50e2cbecd2f9115a2ecc6:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
