<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{1600,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c93e63105b579f0ace56b2d581960f1:001e7760b6b8588d42a9b199fb3ccd6a:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
